<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mina">

    <!-- My own CSS -->
    <link rel="stylesheet" href="/static/base.css">
    <title>{% block title %} {% endblock %} | Morning News</title>
  </head>
  <body>
    <div class="container-fluid p-0">
      <div class="navbar-expand-md">
        <nav class="navbar navbar-dark bg-dark rounded-bottom">
          <a href="/" class="navbar-brand text-light">
            <h4>
              <i class="fa fa-align-left">
                <span style="font-family: Mina;"> Morning news</span>
              </i>
            </h4>
          </a>
          <span class="text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Top UK headlines</a>
                {% if current_user.is_authenticated %}
                  {% for setting in current_user.settings | sort(setting.name) %}
                  <a class="nav-item nav-link active" href="/?i={{setting['id']}}">{{setting['name']}}</a>
                  {% endfor %}
                  <a class="nav-item nav-link" href="/settings">Settings</a>
                  <a class="nav-item nav-link" href="#">About</a>
                  <a class="nav-item nav-link active" href="/logout">Logout</a>
                {% else %}
                  <a class="nav-item nav-link" href="#">About</a>
                  <a class="nav-item nav-link active" href="/login">Log-in</a>
                {% endif %}
              </div>
            </div>
          </span>
        </nav>
      </div>
    </div>
      <div class="container">
        <div class="row">
              {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% block customjs %}
    {% endblock %}
  </body>
</html>
