{% extends "base.html" %}
{% block title %}Test title{% endblock %}
{% block content %}

<div class="card-columns">
    <div class="card bg-info m-1 p-3">
      <h1 class="card-title text-center">Hello world!</h1>
      <p class="card-text text-center">
        The site is not ready yet, but should be soon!
      </p>
    </div>
    {% for article in articles %}
    <div class="card m-1 p-3">
      {% if article['urlToImage'] != None %}
      <img class="card-img-top" src="{{article['urlToImage']}}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title text-left">
          <a class="text-dark" href="{{article['url']}}" target="_blank" rel="noopener noreferrer">
            {{article['title']}}
          </a>
        </h5>
        <p class="card-text text-left">
          {{article['description']}}
        </p>
        <p class="card-text text-left">
          <small class="text-muted">
            {{article['source']['name']}} | {{article['publishedAt']}}
          </small>
        </p>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
