{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="card-columns">
    <div class="card bg-info m-1 p-3">
      <h1 class="card-title text-center">Hello world!</h1>
      <p class="card-text text-center">
        The site is not ready yet, but should be soon!
      </p>
    </div>
    <div class="card m-1 p-3">
      <h3 class="card-title">Weather in {{weather_city}}</h3>
      <table class="mx-auto" style="font-size: 18px; line-height: 1.2;">
        {% for date in weather %}
          <tr>
            <td class="align-top text-right" style="min-width: 68.5px">
              <b>{{date}} |</b><br>
              <img src="/static/weather_icons/{{weather[date]['icon']}}.png" height="60px">
            </td>
            <td class="align-top">
              <b>{{weather[date]['symbol']}}</b>
              {% if weather[date]['precip'] %}({{weather[date]['precip']}} mm){% endif %}<br>
              {{weather[date]['temp']}} °C
              <br>
              {{weather[date]['pressure']}} hPa, {{weather[date]['wind']}}<br><br>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% for article in articles %}
    <div class="card m-1 p-3">
      {% if article['urlToImage'] != None %}
      <img class="card-img-top" src="{{article['urlToImage']}}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title text-left">
          <a class="text-dark" href="{{article['url']}}" target="_blank" rel="noopener noreferrer">
            {{article['title']}}
          </a>
        </h5>
        <p class="card-text text-left">
          {{article['description']}}
        </p>
        <p class="card-text text-left">
          <small class="text-muted">
            {{article['source']['name']}} | {{article['publishedAt']}}
          </small>
        </p>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
