{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<div class="card-columns">
    <div class="card bg-info m-1 p-3">
      <h1 class="card-title text-center">Hello world!</h1>
      <p class="card-text text-center">
        The site is not ready yet, but should be soon!
      </p>
    </div>
    <div class="card m-1 p-3">
      <h3 class="card-title">Weather in {{weather_city}}</h3>
      <table class="mx-auto" style="font-size: 18px; line-height: 1.2;">
        {% for date in weather %}
          <tr>
            <td class="align-top text-right" style="min-width: 68.5px">
              <b>{{date}} |</b><br>
              <img src="/static/weather_icons/{{weather[date]['icon']}}.png" height="60px">
            </td>
            <td class="align-top">
              <b>{{weather[date]['symbol']}}</b>
              {% if weather[date]['precip'] %}({{weather[date]['precip']}} mm){% endif %}<br>
              {{weather[date]['temp']}} °C
              <br>
              {{weather[date]['pressure']}} hPa, {{weather[date]['wind']}}<br><br>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% for article in articles %}
    <div class="card m-1 p-3">
      {% if article['urlToImage'] != None %}
      <img class="card-img-top" src="{{article['urlToImage']}}">
      {% endif %}
      <div class="card-body">
        <h5 class="card-title text-left">
          <a class="text-dark" href="{{article['url']}}" target="_blank" rel="noopener noreferrer">
            {{article['title']}}
          </a>
        </h5>
        <p class="card-text text-left">
          {{article['description']}}
        </p>
        <p class="card-text text-left">
          <small class="text-muted">
            {{article['source']['name']}} | {{article['publishedAt']}}
          </small>
        </p>
      </div>
    </div>
    {% endfor %}
</div>

{% if total_pages != 1 %}
<!-- Pagination -->
<div class="w-100">
  <nav>
    <ul class="pagination justify-content-center">
      <!-- First -->
      <li class="page-item {%if page==1%}disabled{% endif %}">
        <a class="page-link" href="/?i={{i}}&page=1">First</a>
      </li>
      <!-- Previous -->
      <li class="page-item {%if page==1%}disabled{% endif %}">
        <a class="page-link" href="/?i={{i}}&page={{page-1}}">Previous</a>
      </li>

      <!-- Three dots -->
      {% if page-3 > 1 %}
      <li class="page-item disabled">
        <span class="page-link"> ... </span>
      </li>
      {% endif %}

      <!-- Three numbers -->
      {% for n in range(1,4)|reverse %}
        {% if page-n >= 1 %}
          <li class="page-item">
            <a class="page-link" href="/?i={{i}}&page={{page-n}}">
              {{page-n}}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      <!-- Current -->
      <li class="page-item active">
        <a class="page-link">{{page}}</a>
      </li>

      <!-- Three numbers -->
      {% for n in range(1,4) %}
        {% if page+n <= total_pages %}
          <li class="page-item">
            <a class="page-link" href="/?i={{i}}&page={{page+n}}">
              {{page+n}}
            </a>
          </li>
        {% endif %}
      {% endfor %}

      <!-- Three dots -->
      {% if page+3 < total_pages %}
      <li class="page-item disabled">
        <span class="page-link"> ... </span>
      </li>
      {% endif %}

      <!-- Next -->
      <li class="page-item {%if page==total_pages%}disabled{% endif %}">
        <a class="page-link" href="/?i={{i}}&page={{page+1}}">Next</a>
      </li>
      <!-- Last -->
      <li class="page-item {%if page==total_pages%}disabled{% endif %}">
        <a class="page-link" href="/?i={{i}}&page={{total_pages}}">Last</a>
      </li>
    </ul>
  </nav>
</div>
{% endif %}

{% endblock %}
